<?xml version='1.0' encoding='utf-8'?>
<plugin id="pkg_name_place_holder" version="version_place_holder" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>DocumentReaderCore</name>
  <platform name="ios">
    <framework src="src/ios/DocumentReaderCore.framework" custom="true" embed="true" />
    <source-file src="src/ios/DocumentReaderCore.framework" target-dir="../" framework="true"/>
    <dependency id="cordova-plugin-add-swift-support" />
  </platform>
  <platform name="android">
    <framework src="src/android/documentreader.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
